<h2>Featured Media</h2>

<!--      main category preloader -->
<div id="featured-media-preloader" class="has-preloader" style="text-align: center;" ng-if="!post.featured_media">
    <img ng-src="{{preloader}}" ng-if="preloader">
</div>
<!-- ./     main category preloader -->

<span ng-if="post.featured_media" class="featured-media-wrapper">
        <featured-media media-id="{{post.featured_media}}"></featured-media>
    </span>

<span id="no-media-placeholder" ng-if="!post.featured_media">
        <img ng-src="{{noFeaturedMediaPlaceholder}}" width="150">
    </span>

<button id="upload_image_button" ng-click="uploadImage()" class="button" ng-if="post.featured_media || timeUpFallback">
    <img ng-src="{{image_directory}}/edit-icon-32x32.png"></button>