<div class="pagination">
    <ul class="pagination-list">
        <li ng-class="{'disabled': curPage == 1}">
            <button type="button" class="button"
                    ng-disabled="curPage == 1"
                    ng-click="paginatToPage(curPage-1)">
                <span class="custom-icon custom-icon custom-icon-chevron-left"></span>
            </button>
        </li>

        <span ng-repeat="pages in repeatNumber(numberOfPages()) track by $index">
            <li class="pagination-item pagination-page-{{$index+1}}">
                <a ng-click="paginatToPage($index+1)">{{$index +1}}</a>
            </li>
        </span>

        <li ng-class="{'disabled': curPage >= numberOfPages()}">
            <button type="button" class="button"
                    ng-disabled="curPage >= numberOfPages()"
                    ng-click="paginatToPage(curPage+1)">
                <span class="custom-icon custom-icon custom-icon-chevron-right"></span>
            </button>
        </li>
    </ul>

</div>


<style>
    div.pagination {
        width: 100%;
        text-align: center;
    }

    .pagination ul li {
        display: inline-block;
    }

    .pagination a {
        color: black;
        padding: 8px 16px;
        text-decoration: none;
        cursor: pointer;
    }

    li.pagination-active-item a {
        background-color: #4CAF50;
        color: white;
        padding: 8px 16px;
    }

    .pagination-item a:hover:not( .pagination-active-item ) {
        background-color: #ddd;
    }
</style>