body {
    height: 100%;
}

/* Navigation */

nav#main-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav#main-navigation ul li {
    float: left;
}

nav#main-navigation ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav#main-navigation ul li a:hover:not(.active) {
    background-color: #111;
}

nav#main-navigation ul li .active {
    background-color: #4CAF50;
}

<<<<<<< HEAD
=======
span.magnifying-glass {
    position: absolute;
    padding: 0px 15px;
    right: 80px;
    font-size: 1.5rem;
    -webkit-transform: rotate(315deg); 
               -moz-transform: rotate(315deg); 
                 -o-transform: rotate(315deg);
                    transform: rotate(315deg);
}

>>>>>>> 74c6171a9cac5697cd29bd8560581d2cfaca6bfc
/* ./ Navigation */

#main-view {
    padding-right: 10px;
}

/* table style */

table#post-content,
table#page-content {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding-right: 15px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table#post-content th:nth-child(3) {
    width: 10%;
}

table#post-content th:nth-child(4) {
    width: 12%;
}

table#post-content th:nth-child(5) {
    width: 10%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
td.featured-media img {
    width: 150px;
    height: auto;
}
td.post-expert p.link-more {
    display: none;
}

/* ./ table style */

.pointer {
    cursor: pointer;
}

ul.categories-list {
    list-style: disc;
    padding-left: 15px;
}
ul.second-lvl {
    list-style: circle;
    padding-left: 20px;
}
ul.categories-list ul ul.third {
    list-style: square!important;
    padding-left: 45px!important;
}

div.modal-aside-content span.tag {
    border: #f2f2f2 solid;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 5px;
}

div.modal-aside-content span.tag span.tag-separator {
    display: none;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-wrapper {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 90%;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.ux-modal-wrapper {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    left: 180px;
    height: 90%;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.ux-modal-content,
.center {
    text-align: center;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close-modal {
    color: #ccc;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 10px 16px;
    height: 3em;
    background-color: #f2f2f2;
    color: white;
    text-align: center;
}

.modal-body {
    padding: 2px 16px;
    position: absolute;
    top: 5em;
    bottom: 3em;
    left: 0;
    right: 0;
    max-height: 90%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; 
}

.modal-body span.featured-media-wrapper img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px 16px;
    background-color: #f2f2f2;
    color: white;
    text-align: right;
}

.modal-footer  button {
    margin-left: 30px!important;
    margin-right: 15px!important;
}

.floating-button {
	position:fixed;
    font-size: 48px;
    line-height: 45px;
    text-decoration: none;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#4CAF50;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.floating-button:hover {
    color:#FFF;
    margin-bottom: 5px;
    box-shadow: 6px 6px 7px #999;
}

.hide {
    display: none!important;
    visibility: collapse!important;
}
.edit-hide {
    display: none;
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.hidden {
    display: none;
}
=======

>>>>>>> 74c6171a9cac5697cd29bd8560581d2cfaca6bfc
=======
>>>>>>> parent of d9d6f12... dev
=======
>>>>>>> parent of 74c6171... Merge pull request #1 from linuxluigi/master
.show {
    display: inline-block;
}

.hide-by-op {
    opacity: 0;
}

.custom-icon-chevron-down:before {
    content: "&#9660";
}

.custom-icon:before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.05em;
	position: relative;
	top: 3px;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}
.custom-icon.custom-icon-chevron-right:before {
	transform: rotate(45deg);
}

.custom-icon.custom-icon-chevron-left:before {
	transform: rotate(-135deg);
}

.custom-icon.custom-icon-chevron-down:before {
	top: 0;
	transform: rotate(135deg);
}

.custom-icon.custom-icon-chevron-up:before {
	top: 0;
	transform: rotate(-45deg);
}

/* pagination */
ul.pagination-list li button span.custom-icon:before {
    top: 6px;
}
div.pagination {
    width: 100%;
    text-align: center;
}

.pagination ul li {
    display: inline-block;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

li.pagination-active-item a {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
}

.pagination-item a:hover:not( .pagination-active-item) {
    background-color: #ddd;
}

.rv_button.closed:after {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
    top: 5px;
    transform: rotate(135deg);
}

.rv_button.opened:after{
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 10px;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
}

table#reveal-table {
    width: 100%;
}
table#reveal-table tr td {
    width: auto;
}
input#search:focus {
    background-color: antiquewhite;
}

/* ==================== */
/* ======= Modal ====== */
/* ==================== */

.main-content,
.modal-main-content {
    width: 68%;
    float: left;
    padding: 10px;
}

.aside-content,
.modal-aside-content {
    width: 28%;
    height: 100%;
    float: right;
    padding: 10px;
    border-left: 1px solid #d9d9d9;
}


/* ============================================= */
/* ======= Categories in angular-ui-tress ====== */
/* ============================================= */

.angular-ui-tree-handle {
    background: #f9f9f9;
    border: 1px solid #ccc;
    color: #000;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #7c7c7c;
    background: #f2f2f2;
    border-color: #ccc;
}

.angular-ui-tree-placeholder {
    background: #f9f9f9;
    border: 2px dashed #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr.angular-ui-tree-empty {
    height:100px
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}


/* --- Tree --- */
.tree-node {
    border: 1px solid #f2f2f2;
    background: #f9f9f9;
    color: #000;
}

.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    margin: 10px;
}
.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ========================= */
/* ======= Edit View ====== */
/* ======================= */

button.icon-button {
    position: relative;
    top: 10px;
    height: 32px;
    
}

div.mce-edit-area iframe {
    height: 400px;
}

.info-box,
div#select-category-wrapper,
div#select-tag-wrapper {
    border: solid #d9d9d9;
    border-radius: 10px;
    padding: 10px;
}

button.rv_button:focus {
    border-color: #ccc!important;
    box-shadow: 0 1px 0 #ccc!important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
div.mce-branding-powered-by {
    display: none;
}

/*  ========================================= 

    NgAnimate

    ========================================= */


.fadeIn.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}
.fadeIn.ng-enter.ng-enter-active {
  opacity:1;
}
.fadeIn.ng-hide-remove {
  transition:0.5s linear all;
  opacity:0;
}
.fadeIn.ng-hide-remove-active {
    opacity: 1;
}


.fadeOut.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.fadeOut.ng-leave.ng-leave-active {
  opacity:0;
}



