<div class="info-box">
    <p>{{::wpTranslation_status}}: {{ post.status }}</p>
    <p>
        <span ng-if="post.status == 'future'">will be </span><span>published on</span>
        <br>
        <span>Date: </span>
        <span>{{ post.date | date: 'dd' }}/</span>
        <span>{{ post.date | date: 'MM' }}/</span>
        <span>{{ post.date | date: 'yyyy' }}</span>
        &nbsp;
        <span>Time: </span>
        <span>{{ post.date | date: 'HH' }}:</span>
        <span>{{ post.date | date: 'mm' }}</span>
    </p>
    <p>
        <span>modified on</span>
        <br>
        <span>Date: </span>
        <span>{{ post.modified | date: 'dd' }}/</span>
        <span>{{ post.modified | date: 'MM' }}/</span>
        <span>{{ post.modified | date: 'yyyy' }}</span>
        &nbsp;
        <span>Time: </span>
        <span>{{ post.modified | date: 'HH' }}:</span>
        <span>{{ post.modified | date: 'mm' }}</span>
    </p>
    <p ng-if="post.author">Author: <author author-id="{{post.author}}"></author></p>
    
</div>